{#- name: "assignment_stmt" -#}
#line {{ pos.line }} "{{ pos.file }}"
{{ lvalue }} = {{ rvalue }} ;
#endline

{#- name: "update_stmt" -#}
#line {{ pos.line }} "{{ pos.file }}"
{{ lvalue }} {{ op }} {{ rvalue }} ;
#endline

{#- name: "return_stmt" -#}
#line {{ pos.line }} "{{ pos.file }}"
{% if arg %}
return {{ arg }} ;
{% else %}
return ;
{% endif %}
#endline

{#- name: "else_section" -#}
#line {{ pos.line }} "{{ pos.file }}"
else {
    {% for stmt in stmts %}
    {{ stmt | indent }}
    {% endfor %}
}
#endline

{#- name: "elif_section" -#}
#line {{ pos.line }} "{{ pos.file }}"
else if ({{ condition }}) {
    {% for stmt in stmts %}
    {{ stmt | indent }}
    {% endfor %}
}
#endline

{#- name: "if_stmt" -#}
#line {{ pos.line }} "{{ pos.file }}"
if ({{ condition }}) {
    {% for stmt in stmts %}
    {{ stmt | indent }}
    {% endfor %}
}
{% for elif in elifs %}
{{ elif }}
{% endfor %}
{{ else_ }}
#endline

{#- name: "func_decl" -#}
static inline {{ rtype }} {{ name }}( {{ ptypes | join(", ") }} ) ;

{#- name: "func_defn" -#}
#line {{ pos.line }} "{{ pos.file }}"
static {{ rtype }} {{ name }}( {{ params |  join(", ") }}) {
    {% for var, type, init in lvars %}
    {{ type }} {{ var }} = {{ init }} ;
    {% endfor %}

    {% for stmt in stmts %}
    {{ stmt | indent }}
    {% endfor %}
}
#endline

{#- name: "simulator.cpp" -#}
#include <cstdint>
#include <experimental/scope>

#include <spdlog/spdlog.h>
#include <argparse/argparse.hpp>

#include <omp.h>
#include <upcxx/upcxx.hpp>

#include "chunk_utils.hpp"
#include "simulator_utils.hpp"

namespace stdex = std::experimental;

void parse_arguments(int argc, char *argv[]) {
    argparse::ArgumentParser program(argv[0]);
    program.add_description("Fire spread simulator.");

    {% macro add_argument(short_opt, long_opt, help, var) -%}
    program.add_argument("{{ short_opt }}", "{{ long_opt }}")
	.required()
	.help("{{ help }}")
	.store_into({{ var }});
    {%- endmacro %}

    // clang-format off
    {{ add_argument("-n", "--num-ticks", "Num ticks", "NUM_TICKS") }}
    {{ add_argument("-bx", "--begin-x", "Starting x coordinate (inclusive).", "WORLD_REGION.begin.x") }}
    {{ add_argument("-ex", "--end-x", "Ending x coordinate (exclusive).", "WORLD_REGION.end.x") }}
    {{ add_argument("-by", "--begin-y", "Starting y coordinate (inclusive).", "WORLD_REGION.begin.y") }}
    {{ add_argument("-ey", "--end-y", "Ending y coordinate (exclusive).", "WORLD_REGION.end.y") }}
    {{ add_argument("-t", "--tile-file", "Tile data file (HDF5).", "TILE_FILE_NAME") }}
    {{ add_argument("-s", "--seed-file", "Seed data file (HDF5).", "SEED_FILE_NAME") }}
    {{ add_argument("-w", "--tick-file", "Tick data file (Parquet).", "TICK_FILE_NAME") }}
    {{ add_argument("-o", "--output-file", "Output file (HDF5).", "OUTPUT_FILE_NAME") }}
    // clang-format on

    try {
        program.parse_args(argc, argv);
    } catch (const std::exception& err) {
        if (upcxx::rank_me() == 0) {
            std::cerr << err.what() << std::endl;
            std::cerr << program;
        }
        std::exit(1);
    }

    if (upcxx::rank_me() == 0) {
        spdlog::info("NUM_TICKS = {}", NUM_TICKS);
        spdlog::info("X_RANGE = [{}, {})", WORLD_REGION.begin.x, WORLD_REGION.end.x);
        spdlog::info("Y_RANGE = [{}, {})", WORLD_REGION.begin.y, WORLD_REGION.end.y);
        spdlog::info("SEED_FILE_NAME = {}", SEED_FILE_NAME);
        spdlog::info("TICK_FILE_NAME = {}", TICK_FILE_NAME);
        spdlog::info("TILE_FILE_NAME = {}", TILE_FILE_NAME);
        spdlog::info("OUTPUT_FILE_NAME = {}", OUTPUT_FILE_NAME);
    }
}

int main(int argc, char* argv[]) {
    upcxx::init();
    auto upcxx_finalize_guard = stdex::scope_exit([](){ upcxx::finalize(); });

    setup_spdlog();
    parse_arguments(argc, argv);

    // initialize data structures
    hash_set<Vector2> owned_chunks;
    OWNED_CHUNKS = &owned_chunks;
    
    hash_map<Vector2, ChunkInfo> chunk_info;
    CHUNK_INFO = &chunk_info;

    // load data
    populate_local_chunks();

    for (int i = 0; i < upcxx::rank_n(); i++) {
        upcxx::barrier();
        if (i == upcxx::rank_me()) {
            for (const auto& [_, chunk_info]: chunk_info) {
                spdlog::info("{}", chunk_info);
            }
        }
    }


    // for (CUR_TICK = 0; CUR_TICK < NUM_TICKS; CUR_TICK++) {
    //     upcxx::barrier();

    //     if (upcxx::rank_me() == 0) {
    //         spdlog::info("Starting tick: {}", CUR_TICK);
    //     }
    // };

    return 0;
}
{#- name: "CMakeLists.txt" -#}
cmake_minimum_required(VERSION 4.0)

project(
  fire-escape-sim
  VERSION 0.1.0
  LANGUAGES CXX)

find_package(fmt REQUIRED)
find_package(spdlog REQUIRED)
find_package(argparse REQUIRED)
find_package(xxHash REQUIRED)
find_package(phmap REQUIRED)
find_package(cista REQUIRED)
find_package(Arrow REQUIRED)
find_package(HDF5 REQUIRED)
find_package(upcxx REQUIRED)
find_package(OpenMP REQUIRED)

set(UPCXX_TARGET upcxx::smp-par)
if(DEFINED ENV{UPCXX_NETWORK})
  set(UPCXX_TARGET upcxx::$ENV{UPCXX_NETWORK}-par)
endif()
message("UPCXX_TARGET = ${UPCXX_TARGET}")

add_executable(simulator simulator.cpp)
target_link_libraries(
  simulator
  PRIVATE fmt::fmt
          spdlog::spdlog
          argparse::argparse
          xxHash::xxhash
          phmap
          cista::cista
          arrow::arrow
          HDF5::HDF5
          ${UPCXX_TARGET}
          OpenMP::OpenMP_CXX)
target_compile_features(simulator PRIVATE cxx_std_23)

{#- name: "conanfile.py" -#}
# type: ignore
from conan import ConanFile
from conan.tools.cmake import cmake_layout, CMakeDeps, CMakeToolchain, CMake


class FireEscapeSimRecipe(ConanFile):
    name = "fire-escape-sim"
    settings = "os", "compiler", "build_type", "arch"

    def layout(self):
        cmake_layout(self)

    def requirements(self):
        self.requires("fmt/12.1.0")
        self.requires("spdlog/1.17.0")
        self.requires("argparse/3.2")
        self.requires("xxhash/0.8.3")
        self.requires("parallel-hashmap/2.0.0")
        self.requires("cista/0.16")
        self.requires("arrow/23.0.1")
        self.requires("hdf5/1.14.6")
        self.requires("upcxx/2025.10.0.pci")

    def generate(self):
        deps = CMakeDeps(self)
        deps.generate()

        toolchain = CMakeToolchain(self)
        toolchain.generate()

    def build(self):
        cmake = CMake(self)
        cmake.configure()
        cmake.build()
